<script type="text/javascript" charset="utf-8">
	jQuery.noConflict();
  jQuery(document).ready(function($) {
  	$("input[name=fav]").click(function(){ 
  		var obj = $(this)
  		var action = obj.is(":checked") ? "new" : "del" 
  		jQuery.post("/user_fav/new", {clazz: 'PmFolder',go: action, object_id: obj.val()}, function(resp){
  			alert(resp.text)
  		}) 
  	})
 })
</script>

<h2>我收藏的模块列表</h2>

<% apps = @pm_lib.folder_root.children 
 	 slice_size = 3	
 	 my_favs = UserFav.scoped_by_user_id(User.current.id).scoped_by_object_type(PmFolder.to_s).map(&:object).compact.map(&:id)
 	
%>

<table class="tagCol" style="width:600px;">
	<% apps.each_slice(slice_size).each do|e| %>
		<% e.fill(nil,e.length..(slice_size-1)) %>
	<tr>
		<% e.each do|f| %>
			<td> 
				<% if f %>
				 	<%= check_box_tag 'fav', f.id ,my_favs.include?(f.id) %>
				 	<%= link_to "#{f.name}(#{f.title})",pm_lib_pm_folder_path(@pm_lib, f), :popup=>true%> </td>
				<% end %>
		<% end %>
	</tr>
	<% end %>
</table>