<h3>当前对象库: <%= @pm_folder.pm_lib.name %></h3>
<p>cd到项目目录， 执行一下命令：</p>
<div class="wiki">
<pre>automan create  <strong><%= @pm_folder.pm_lib.name %></strong> </pre>
</div>

<strong>详细的帮助， 请参照：	 </strong>
	<a href="http://twork.taobao.net/redmine/projects/tam/wiki/%E5%A6%82%E4%BD%95%E5%B0%86%E5%AF%B9%E8%B1%A1%E5%BA%93%E4%B8%8B%E8%BD%BD%E5%88%B0%E6%9C%AC%E5%9C%B0" target="_blank">如何将对象库下载到本地</a>