<p class='nodata'> 
这是一个新建的（或者已经关闭）的项目
<br>
该项目还没有页面模型,请
<%= link_to_popup "添加Page", new_pm_lib_pm_folder_pm_model_path(@pm_lib, PmLib.base.folder_root) %>
或从基线库导入
<%= link_to "(进入基线库)", pm_lib_path(PmLib::BASE, :popup => true) %>

</p>