<h1>Listing pm_models</h1>

<table>
  <tr>
  </tr>

<% @pm_models.each do |pm_model| %>
  <tr>
    <td><%= link_to 'Show', pm_model %></td>
    <td><%= link_to 'Edit', edit_pm_model_path(pm_model) %></td>
    <td><%= link_to 'Destroy', pm_model, :confirm => '您确定要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pm_model', new_pm_model_path %>