<% image_url = @pm_model.image.url %>
<% form_for(@pm_model, :url => {:action=>"upload_pic"},  :html => { :multipart => true }) do |f| %>
	<p> <%= f.file_field :image %> </p>
	<p>
	 <%= submit_tag '上传' %>	 
	</p>
	
	<% if @pm_model.image %>	
	    <%= image_tag @pm_model.image.url %>	
		 	<%= link_to "删除此图片" %>
	<% end %>
<% end %>  
