<%- if params[:controller] != "pc_jobs" && params[:action] != "create_job" -%>
  <div id="footer">
    Powered by AutoMan Team &copy; 2009-2010 Taobao QA Team
    <% if RAILS_ENV == 'production' %>
      <script src="http://s15.cnzz.com/stat.php?id=2330497&web_id=2330497&show=pic1" language="JavaScript"></script>
    <% end %>
  </div>
<%- end -%>